In [1]:
from pydataset import data
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

### 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = data('iris')

In [3]:
df_iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
1             5.1          3.5           1.4          0.2      setosa
2             4.9          3.0           1.4          0.2      setosa
3             4.7          3.2           1.3          0.2      setosa
4             4.6          3.1           1.5          0.2      setosa
5             5.0          3.6           1.4          0.2      setosa
6             5.4          3.9           1.7          0.4      setosa
7             4.6          3.4           1.4          0.3      setosa
8             5.0          3.4           1.5          0.2      setosa
9             4.4          2.9           1.4          0.2      setosa
10            4.9          3.1           1.5          0.1      setosa
11            5.4          3.7           1.5          0.2      setosa
12            4.8          3.4           1.6          0.2      setosa
13            4.8          3.0           1.4          0.1      setosa
14            4.3          3.0           1.1          0.1      setosa
15            5.8          4.0           1.2          0.2      setosa
16            5.7          4.4           1.5          0.4      setosa
17            5.4          3.9           1.3          0.4      setosa
18            5.1          3.5           1.4          0.3      setosa
19            5.7          3.8           1.7          0.3      setosa
20            5.1          3.8           1.5          0.3      setosa
21            5.4          3.4           1.7          0.2      setosa
22            5.1          3.7           1.5          0.4      setosa
23            4.6          3.6           1.0          0.2      setosa
24            5.1          3.3           1.7          0.5      setosa
25            4.8          3.4           1.9          0.2      setosa
26            5.0          3.0           1.6          0.2      setosa
27            5.0          3.4           1.6          0.4      setosa
28            5.2          3.5           1.5          0.2      setosa
29            5.2          3.4           1.4          0.2      setosa
30            4.7          3.2           1.6          0.2      setosa
31            4.8          3.1           1.6          0.2      setosa
32            5.4          3.4           1.5          0.4      setosa
33            5.2          4.1           1.5          0.1      setosa
34            5.5          4.2           1.4          0.2      setosa
35            4.9          3.1           1.5          0.2      setosa
36            5.0          3.2           1.2          0.2      setosa
37            5.5          3.5           1.3          0.2      setosa
38            4.9          3.6           1.4          0.1      setosa
39            4.4          3.0           1.3          0.2      setosa
40            5.1          3.4           1.5          0.2      setosa
41            5.0          3.5           1.3          0.3      setosa
42            4.5          2.3           1.3          0.3      setosa
43            4.4          3.2           1.3          0.2      setosa
44            5.0          3.5           1.6          0.6      setosa
45            5.1          3.8           1.9          0.4      setosa
46            4.8          3.0           1.4          0.3      setosa
47            5.1          3.8           1.6          0.2      setosa
48            4.6          3.2           1.4          0.2      setosa
49            5.3          3.7           1.5          0.2      setosa
50            5.0          3.3           1.4          0.2      setosa
51            7.0          3.2           4.7          1.4  versicolor
52            6.4          3.2           4.5          1.5  versicolor
53            6.9          3.1           4.9          1.5  versicolor
54            5.5          2.3           4.0          1.3  versicolor
55            6.5          2.8           4.6          1.5  versicolor
56            5.7          2.8           4.5          1.3  versicolor
57            6.3          3.3           4.7          1.6  versicolor
58            4.9          2.4           3.3          1.0  versicolor
59            6.6          2.9           4.6          1.3  versicolor
60            5.2          2.7           3.9          1.4  versicolor
61            5.0          2.0           3.5          1.0  versicolor
62            5.9          3.0           4.2          1.5  versicolor
63            6.0          2.2           4.0          1.0  versicolor
64            6.1          2.9           4.7          1.4  versicolor
65            5.6          2.9           3.6          1.3  versicolor
66            6.7          3.1           4.4          1.4  versicolor
67            5.6          3.0           4.5          1.5  versicolor
68            5.8          2.7           4.1          1.0  versicolor
69            6.2          2.2           4.5          1.5  versicolor
70            5.6          2.5           3.9          1.1  versicolor
71            5.9          3.2           4.8          1.8  versicolor
72            6.1          2.8           4.0          1.3  versicolor
73            6.3          2.5           4.9          1.5  versicolor
74            6.1          2.8           4.7          1.2  versicolor
75            6.4          2.9           4.3          1.3  versicolor
76            6.6          3.0           4.4          1.4  versicolor
77            6.8          2.8           4.8          1.4  versicolor
78            6.7          3.0           5.0          1.7  versicolor
79            6.0          2.9           4.5          1.5  versicolor
80            5.7          2.6           3.5          1.0  versicolor
81            5.5          2.4           3.8          1.1  versicolor
82            5.5          2.4           3.7          1.0  versicolor
83            5.8          2.7           3.9          1.2  versicolor
84            6.0          2.7           5.1          1.6  versicolor
85            5.4          3.0           4.5          1.5  versicolor
86            6.0          3.4           4.5          1.6  versicolor
87            6.7          3.1           4.7          1.5  versicolor
88            6.3          2.3           4.4          1.3  versicolor
89            5.6          3.0           4.1          1.3  versicolor
90            5.5          2.5           4.0          1.3  versicolor
91            5.5          2.6           4.4          1.2  versicolor
92            6.1          3.0           4.6          1.4  versicolor
93            5.8          2.6           4.0          1.2  versicolor
94            5.0          2.3           3.3          1.0  versicolor
95            5.6          2.7           4.2          1.3  versicolor
96            5.7          3.0           4.2          1.2  versicolor
97            5.7          2.9           4.2          1.3  versicolor
98            6.2          2.9           4.3          1.3  versicolor
99            5.1          2.5           3.0          1.1  versicolor
100           5.7          2.8           4.1          1.3  versicolor
101           6.3          3.3           6.0          2.5   virginica
102           5.8          2.7           5.1          1.9   virginica
103           7.1          3.0           5.9          2.1   virginica
104           6.3          2.9           5.6          1.8   virginica
105           6.5          3.0           5.8          2.2   virginica
106           7.6          3.0           6.6          2.1   virginica
107           4.9          2.5           4.5          1.7   virginica
108           7.3          2.9           6.3          1.8   virginica
109           6.7          2.5           5.8          1.8   virginica
110           7.2          3.6           6.1          2.5   virginica
111           6.5          3.2           5.1          2.0   virginica
112           6.4          2.7           5.3          1.9   virginica
113           6.8          3.0           5.5          2.1   virginica
114           5.7          2.5           5.0          2.0   virginica
115           5.8          2.8           5.1          2.4   virginica
116           6.4          3.2           5.3          2.3   virginica
117           6.5          3.0           5.5          1.8   virginica
118           7.7          3.8           6.7          2.2   virginica
119           7.7          2.6           6.9          2.3   virginica
120           6.0          2.2           5.0          1.5   virginica
121           6.9          3.2           5.7          2.3   virginica
122           5.6          2.8           4.9          2.0   virginica
123           7.7          2.8           6.7          2.0   virginica
124           6.3          2.7           4.9          1.8   virginica
125           6.7          3.3           5.7          2.1   virginica
126           7.2          3.2           6.0          1.8   virginica
127           6.2          2.8           4.8          1.8   virginica
128           6.1          3.0           4.9          1.8   virginica
129           6.4          2.8           5.6          2.1   virginica
130           7.2          3.0           5.8          1.6   virginica
131           7.4          2.8           6.1          1.9   virginica
132           7.9          3.8           6.4          2.0   virginica
133           6.4          2.8           5.6          2.2   virginica
134           6.3          2.8           5.1          1.5   virginica
135           6.1          2.6           5.6          1.4   virginica
136           7.7          3.0           6.1          2.3   virginica
137           6.3          3.4           5.6          2.4   virginica
138           6.4          3.1           5.5          1.8   virginica
139           6.0          3.0           4.8          1.8   virginica
140           6.9          3.1           5.4          2.1   virginica
141           6.7          3.1           5.6          2.4   virginica
142           6.9          3.1           5.1          2.3   virginica
143           5.8          2.7           5.1          1.9   virginica
144           6.8          3.2           5.9          2.3   virginica
145           6.7          3.3           5.7          2.5   virginica
146           6.7          3.0           5.2          2.3   virginica
147           6.3          2.5           5.0          1.9   virginica
148           6.5          3.0           5.2          2.0   virginica
149           6.2          3.4           5.4          2.3   virginica
150           5.9          3.0           5.1          1.8   virginica

#### -print the first 3 rows

In [4]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

#### - print the number of rows and columns

In [5]:
df_iris.shape

(150, 5)

#### - print the column names

In [6]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

#### - print the data type of each column

In [7]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

#### - print the summary statistics for each of the numeric variables

In [8]:
round(df_iris.describe(),2)

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count        150.00       150.00        150.00       150.00
mean           5.84         3.06          3.76         1.20
std            0.83         0.44          1.77         0.76
min            4.30         2.00          1.00         0.10
25%            5.10         2.80          1.60         0.30
50%            5.80         3.00          4.35         1.30
75%            6.40         3.30          5.10         1.80
max            7.90         4.40          6.90         2.50

### 5. Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

In [9]:
import pandas as pd 
df_google_sheets = pd.read_csv("telco_spreadsheet.csv")
df_google_sheets.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes,3.2

#### -assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [10]:
#head will get us the first rows
df_google_sheets_sample = df_google_sheets.head(100)

In [11]:
df_google_sheets_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes,3.2
5,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.40,571.45,No,8.2
6,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.70,7904.25,No,72.1
7,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,5377.80,No,63.5
8,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.20,340.35,No,7.1
9,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,5957.90,No,65.9
10,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.20,2460.55,No,54.4
11,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.80,8456.75,No,72.4
12,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,351.50,No,5.1
13,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.30,7261.25,No,71.7
14,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,2560.10,No,56.8
15,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,6849.40,No,71.5
16,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,1993.20,No,32.5
17,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,72.10,No,1.0
18,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.70,2791.50,Yes,44.5
19,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,25.10,Yes,1.0
20,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.20,1306.30,No,51.8
21,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.10,1215.60,Yes,12.9
22,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,1849.95,No,22.1
23,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,57.20,No,2.9
24,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,76.35,Yes,3.8
25,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.50,30.50,Yes,1.0
26,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.70,5656.75,No,54.5
27,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.40,1090.60,No,53.5
28,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.60,471.85,No,24.1
29,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.70,1396.90,No,70.9
30,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.20,3247.55,No,35.6
31,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,900.90,No,44.1
32,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.80,7942.15,No,68.6
33,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,1343.40,No,65.4
34,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.40,825.40,No,20.9
35,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.10,1070.15,No,42.6
36,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.80,4959.60,No,55.2
37,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,5597.65,No,59.1
38,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.30,224.50,No,11.1
39,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,1929.00,No,25.5
40,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,91.10,Yes,1.8
41,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.20,2078.95,No,26.6
42,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.50,630.60,No,24.7
43,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.60,1611.00,No,26.2
44,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45.00,1242.45,No,27.6
45,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,6316.20,No,74.2
46,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,727.85,No,14.1
47,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,3532.00,No,35.6
48,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,44.30,No,1.0
49,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.20,2607.60,No,27.7
50,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,5567.55,No,68.5
51,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,3767.40,No,37.7
52,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,3673.60,No,40.1
53,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.50,4036.85,Yes,38.6
54,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95.00,1120.30,Yes,11.8
55,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,314.55,No,6.2
56,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.50,1888.45,No,29.3
57,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.40,529.80,No,27.3
58,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.80,7308.95,No,69.7
59,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.40,6252.70,No,57.2
60,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.30,2878.55,No,57.2
61,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.40,1212.10,No,17.0
62,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116.00,8182.85,No,70.5
63,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,19.85,Yes,1.0
64,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,99.75,Yes,1.0
65,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,2861.45,No,30.5
66,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.80,1442.20,No,15.9
67,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,4059.35,Yes,48.1
68,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,4145.90,No,71.2
69,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,3645.50,No,33.9
70,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,187.75,No,9.4
71,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.20,2317.10,Yes,20.8
72,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.20,1448.80,Yes,36.0
73,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.80,2193.65,No,25.6
74,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.40,1748.90,No,49.4
75,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,511.25,Yes,6.9
76,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.10,5526.75,No,62.7
77,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,1553.95,Yes,15.3
78,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.80,1147.00,No,25.0
79,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,6747.35,No,71.3
80,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.50,865.05,No,42.2
81,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.40,5976.90,No,66.9
82,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,181.65,Yes,2.1
83,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,3268.05,No,43.7
84,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,1052.40,Yes,11.7
85,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,7634.25,No,69.4
86,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.20,80.20,Yes,1.0
87,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,63.75,Yes,3.2
88,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,190.50,No,2.1
89,0141-YEAYS,Female,1,No,No,2,2,0,Bank transfer (automatic),86.45,2401.05,No,27.8
90,0142-GVYSN,Male,0,No,No,1,0,0,Electronic check,20.30,511.25,No,25.2
91,0147-ESWWR,Female,1,Yes,No,2,2,0,Electronic check,101.25,3949.15,No,39.0
92,0148-DCDOS,Male,0,No,No,2,2,0,Bank transfer (automatic),94.70,2362.10,Yes,24.9
93,0151-ONTOV,Female,0,No,No,1,2,0,Mailed check,70.90,70.90,Yes,1.0
94,0156-FVPTA,Male,0,Yes,No,1,1,0,Electronic check,54.20,1152.70,Yes,21.3
95,0164-APGRB,Female,0,No,No,2,2,2,Electronic check,114.90,8496.70,No,73.9
96,0164-XAIRP,Female,0,No,No,1,0,2,Bank transfer (automatic),19.55,470.20,No,24.1
97,0168-XZKBB,Female,0,Yes,No,2,2,0,Electronic check,86.85,1564.40,No,18.0
98,0174-QRVVY,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.35,1847.55,No,72.9
99,0177-PXBAT,Male,1,Yes,No,2,2,0,Bank transfer (automatic),109.90,3694.70,No,33.6

#### - print the number of rows of your original dataframe

In [12]:
df_google_sheets.shape

(7049, 13)

#### -print the first 5 column names

In [13]:
df_google_sheets.columns

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn', 'tenure'],
      dtype='object')

In [14]:
#use iloc. the colon makes it show all the rows, the 0 to 5 gives it the range of the columns
df_google_sheets.iloc[:,0:5]

     customer_id  gender  is_senior_citizen partner dependents
0     0002-ORFBO  Female                  0     Yes        Yes
1     0003-MKNFE    Male                  0      No         No
2     0004-TLHLJ    Male                  0      No         No
3     0011-IGKFF    Male                  1     Yes         No
4     0013-EXCHZ  Female                  1     Yes         No
...          ...     ...                ...     ...        ...
7044  9987-LUTYD  Female                  0      No         No
7045  9992-RRAMN    Male                  0     Yes         No
7046  9992-UJOEL    Male                  0      No         No
7047  9993-LHIEB    Male                  0     Yes        Yes
7048  9995-HOTOH    Male                  0     Yes        Yes

[7049 rows x 5 columns]

#### -print the column names that have a data type of object

In [15]:
df_google_sheets.dtypes

customer_id           object
gender                object
is_senior_citizen      int64
partner               object
dependents            object
phone_service          int64
internet_service       int64
contract_type          int64
payment_type          object
monthly_charges      float64
total_charges        float64
churn                 object
tenure               float64
dtype: object

In [16]:
# used .select_dtypes(['objects']) to pull information for object dtypes. 
#added .columns to get the titles of the columns that have object types
list(df_google_sheets.select_dtypes(['object']).columns)

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

#### - compute the range for each of the numeric variables

In [17]:
df_google_sheets

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,55.15,742.90,No,13.5
7045,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,85.10,1873.70,Yes,22.0
7046,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,50.30,92.75,No,1.8
7047,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,67.85,4627.65,No,68.2
7048,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,59.00,3707.60,No,62.8

In [18]:
df_google_sheets.isnull().sum()

customer_id           0
gender                0
is_senior_citizen     0
partner               0
dependents            0
phone_service         0
internet_service      0
contract_type         0
payment_type          0
monthly_charges       0
total_charges        11
churn                 0
tenure                0
dtype: int64

In [19]:
max = df_google_sheets.monthly_charges.max()
min = df_google_sheets.monthly_charges.min()
range = max - min
range

100.5

In [20]:
float_columns = df_google_sheets.select_dtypes(['float64']).columns
float_columns

Index(['monthly_charges', 'total_charges', 'tenure'], dtype='object')

In [21]:
max = df_google_sheets.total_charges.max()
min = df_google_sheets.total_charges.min()
range = max - min
range

8666.0

In [22]:
max = df_google_sheets.tenure.max()
min = df_google_sheets.tenure.min()
range = max - min
range

79.3

### 6.Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [23]:
df_excel = pd.read_excel("telco_spreadsheet.xlsx")

#### - assign first 100 rows to a new df

In [24]:
df_excel_sample = df_excel.head(100)

#### -print first 5 column names

In [25]:
df_google_sheets.iloc[7049:,0:5]

Empty DataFrame
Columns: [customer_id, gender, is_senior_citizen, partner, dependents]
Index: []

In [26]:
list(df_google_sheets.columns[0:5])

['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']

#### - print the column names that have a data type object

In [27]:
list(df_google_sheets.select_dtypes(['object']).columns)

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

#### -compute the range for each of the numeric variables

In [28]:
max = df_google_sheets.monthly_charges.max()
min = df_google_sheets.monthly_charges.min()
range = max - min
print ('the range of monthly charges is $',range)

the range of monthly charges is $ 100.5

In [29]:
max = df_google_sheets.total_charges.max()
min = df_google_sheets.total_charges.min()
range = max - min
print ('the range of total charges is $',range)

the range of total charges is $ 8666.0

In [30]:
max = df_google_sheets.tenure.max()
min = df_google_sheets.tenure.min()
range = max - min
print ('the range of tenure is',range, 'months')

the range of tenure is 79.3 months

### 7. Read the data from this google sheet into a dataframe, df_google.

In [31]:
df_google = pd.read_csv("train.csv")

#### -print the first 3 rows

In [32]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [33]:
df_google.shape

(891, 12)

In [34]:
list(df_google.columns)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [35]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [36]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [37]:
## acquire

In [38]:
import acquire

In [39]:
titanic_df = acquire.get_titanic_data()
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [40]:
iris_df = acquire.get_iris_data()
iris_df.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [41]:
telco_df = acquire.get_telco_data()
telco_df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

# DATA PREPARATION

### 1. Use the function defined in acquire.py to load the iris data.

In [42]:
iris_df = acquire.get_iris_data()
iris_df.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [43]:
columns = ['species_id', 'measurement_id']
iris_df.drop(columns, inplace=True, axis=1)

In [44]:
iris_df.rename(columns={'species_name':'species'} , inplace = True)

In [45]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [46]:
dummy_df = pd.get_dummies(iris_df[['species']], dummy_na = False, drop_first=[True, True])
dummy_df.head()

   species_versicolor  species_virginica
0                   0                  0
1                   0                  0
2                   0                  0
3                   0                  0
4                   0                  0

In [47]:
df = pd.concat([iris_df, dummy_df], axis = 1)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0

In [48]:
def clean_iris(df):
    '''
    takes in iris df and returns a cleaned df
    '''
    #drops columns that aren't needed
    columns = ['species_id', 'measurement_id']
    df.drop(columns, inplace=True, axis=1)
    #renames species column
    df.rename(columns={'species_name':'species'} , inplace = True)
    # encode categorical variables
    dummy_df = pd.get_dummies(iris_df[['species']], dummy_na = False, drop_first=[True, True])
    df = pd.concat([iris_df, dummy_df], axis = 1)
    return df

In [49]:
df = acquire.get_iris_data()
df.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [50]:
def split_iris_data(df):
    train_validate, test = train_test_split(df, test_size = .2, random_state=123, stratify = df.species)
    train, validate = train_test_split(train_validate,
                                       test_size = .3, 
                                       random_state = 123, 
                                       stratify = train_validate.species)
    return train, validate, test

In [51]:
def prep_iris(df):
    clean_iris(df)
    train, validate, test = split_iris_data(df)
    return train, validate, test

In [52]:
prep_iris(df)

(     sepal_length  sepal_width  petal_length  petal_width     species
 79            5.7          2.6           3.5          1.0  versicolor
 36            5.5          3.5           1.3          0.2      setosa
 133           6.3          2.8           5.1          1.5   virginica
 95            5.7          3.0           4.2          1.2  versicolor
 18            5.7          3.8           1.7          0.3      setosa
 139           6.9          3.1           5.4          2.1   virginica
 20            5.4          3.4           1.7          0.2      setosa
 31            5.4          3.4           1.5          0.4      setosa
 6             4.6          3.4           1.4          0.3      setosa
 115           6.4          3.2           5.3          2.3   virginica
 91            6.1          3.0           4.6          1.4  versicolor
 145           6.7          3.0           5.2          2.3   virginica
 125           7.2          3.2           6.0          1.8   virginica
 82            5.8          2.7           3.9          1.2  versicolor
 126           6.2          2.8           4.8          1.8   virginica
 142           5.8          2.7           5.1          1.9   virginica
 15            5.7          4.4           1.5          0.4      setosa
 52            6.9          3.1           4.9          1.5  versicolor
 4             5.0          3.6           1.4          0.2      setosa
 131           7.9          3.8           6.4          2.0   virginica
 97            6.2          2.9           4.3          1.3  versicolor
 70            5.9          3.2           4.8          1.8  versicolor
 51            6.4          3.2           4.5          1.5  versicolor
 57            4.9          2.4           3.3          1.0  versicolor
 41            4.5          2.3           1.3          0.3      setosa
 53            5.5          2.3           4.0          1.3  versicolor
 69            5.6          2.5           3.9          1.1  versicolor
 23            5.1          3.3           1.7          0.5      setosa
 87            6.3          2.3           4.4          1.3  versicolor
 3             4.6          3.1           1.5          0.2      setosa
 67            5.8          2.7           4.1          1.0  versicolor
 35            5.0          3.2           1.2          0.2      setosa
 128           6.4          2.8           5.6          2.1   virginica
 1             4.9          3.0           1.4          0.2      setosa
 16            5.4          3.9           1.3          0.4      setosa
 92            5.8          2.6           4.0          1.2  versicolor
 32            5.2          4.1           1.5          0.1      setosa
 129           7.2          3.0           5.8          1.6   virginica
 48            5.3          3.7           1.5          0.2      setosa
 25            5.0          3.0           1.6          0.2      setosa
 12            4.8          3.0           1.4          0.1      setosa
 96            5.7          2.9           4.2          1.3  versicolor
 46            5.1          3.8           1.6          0.2      setosa
 103           6.3          2.9           5.6          1.8   virginica
 89            5.5          2.5           4.0          1.3  versicolor
 123           6.3          2.7           4.9          1.8   virginica
 120           6.9          3.2           5.7          2.3   virginica
 147           6.5          3.0           5.2          2.0   virginica
 114           5.8          2.8           5.1          2.4   virginica
 83            6.0          2.7           5.1          1.6  versicolor
 26            5.0          3.4           1.6          0.4      setosa
 84            5.4          3.0           4.5          1.5  versicolor
 8             4.4          2.9           1.4          0.2      setosa
 24            4.8          3.4           1.9          0.2      setosa
 107           7.3          2.9           6.3          1.8   virginica
 118           7.7          2.6           6.9          2.3   virginica
 112           6.8          3.0           5.5          2.1   virginica
 141           6.9          3.1           5.1          2.3   virginica
 14            5.8          4.0           1.2          0.2      setosa
 43            5.0          3.5           1.6          0.6      setosa
 40            5.0          3.5           1.3          0.3      setosa
 109           7.2          3.6           6.1          2.5   virginica
 74            6.4          2.9           4.3          1.3  versicolor
 108           6.7          2.5           5.8          1.8   virginica
 119           6.0          2.2           5.0          1.5   virginica
 61            5.9          3.0           4.2          1.5  versicolor
 81            5.5          2.4           3.7          1.0  versicolor
 111           6.4          2.7           5.3          1.9   virginica
 58            6.6          2.9           4.6          1.3  versicolor
 7             5.0          3.4           1.5          0.2      setosa
 149           5.9          3.0           5.1          1.8   virginica
 54            6.5          2.8           4.6          1.5  versicolor
 94            5.6          2.7           4.2          1.3  versicolor
 100           6.3          3.3           6.0          2.5   virginica
 137           6.4          3.1           5.5          1.8   virginica
 132           6.4          2.8           5.6          2.2   virginica
 5             5.4          3.9           1.7          0.4      setosa
 88            5.6          3.0           4.1          1.3  versicolor
 140           6.7          3.1           5.6          2.4   virginica
 11            4.8          3.4           1.6          0.2      setosa
 85            6.0          3.4           4.5          1.6  versicolor
 55            5.7          2.8           4.5          1.3  versicolor
 44            5.1          3.8           1.9          0.4      setosa
 73            6.1          2.8           4.7          1.2  versicolor,
      sepal_length  sepal_width  petal_length  petal_width     species
 134           6.1          2.6           5.6          1.4   virginica
 62            6.0          2.2           4.0          1.0  versicolor
 98            5.1          2.5           3.0          1.1  versicolor
 66            5.6          3.0           4.5          1.5  versicolor
 121           5.6          2.8           4.9          2.0   virginica
 59            5.2          2.7           3.9          1.4  versicolor
 0             5.1          3.5           1.4          0.2      setosa
 37            4.9          3.6           1.4          0.1      setosa
 29            4.7          3.2           1.6          0.2      setosa
 104           6.5          3.0           5.8          2.2   virginica
 10            5.4          3.7           1.5          0.2      setosa
 130           7.4          2.8           6.1          1.9   virginica
 122           7.7          2.8           6.7          2.0   virginica
 9             4.9          3.1           1.5          0.1      setosa
 75            6.6          3.0           4.4          1.4  versicolor
 39            5.1          3.4           1.5          0.2      setosa
 148           6.2          3.4           5.4          2.3   virginica
 50            7.0          3.2           4.7          1.4  versicolor
 60            5.0          2.0           3.5          1.0  versicolor
 71            6.1          2.8           4.0          1.3  versicolor
 78            6.0          2.9           4.5          1.5  versicolor
 102           7.1          3.0           5.9          2.1   virginica
 106           4.9          2.5           4.5          1.7   virginica
 64            5.6          2.9           3.6          1.3  versicolor
 136           6.3          3.4           5.6          2.4   virginica
 90            5.5          2.6           4.4          1.2  versicolor
 13            4.3          3.0           1.1          0.1      setosa
 49            5.0          3.3           1.4          0.2      setosa
 21            5.1          3.7           1.5          0.4      setosa
 47            4.6          3.2           1.4          0.2      setosa
 143           6.8          3.2           5.9          2.3   virginica
 113           5.7          2.5           5.0          2.0   virginica
 99            5.7          2.8           4.1          1.3  versicolor
 27            5.2          3.5           1.5          0.2      setosa
 30            4.8          3.1           1.6          0.2      setosa
 124           6.7          3.3           5.7          2.1   virginica,
      sepal_length  sepal_width  petal_length  petal_width     species
 80            5.5          2.4           3.8          1.1  versicolor
 45            4.8          3.0           1.4          0.3      setosa
 144           6.7          3.3           5.7          2.5   virginica
 110           6.5          3.2           5.1          2.0   virginica
 38            4.4          3.0           1.3          0.2      setosa
 2             4.7          3.2           1.3          0.2      setosa
 135           7.7          3.0           6.1          2.3   virginica
 72            6.3          2.5           4.9          1.5  versicolor
 138           6.0          3.0           4.8          1.8   virginica
 34            4.9          3.1           1.5          0.2      setosa
 19            5.1          3.8           1.5          0.3      setosa
 77            6.7          3.0           5.0          1.7  versicolor
 101           5.8          2.7           5.1          1.9   virginica
 63            6.1          2.9           4.7          1.4  versicolor
 117           7.7          3.8           6.7          2.2   virginica
 76            6.8          2.8           4.8          1.4  versicolor
 42            4.4          3.2           1.3          0.2      setosa
 22            4.6          3.6           1.0          0.2      setosa
 28            5.2          3.4           1.4          0.2      setosa
 33            5.5          4.2           1.4          0.2      setosa
 17            5.1          3.5           1.4          0.3      setosa
 116           6.5          3.0           5.5          1.8   virginica
 127           6.1          3.0           4.9          1.8   virginica
 56            6.3          3.3           4.7          1.6  versicolor
 105           7.6          3.0           6.6          2.1   virginica
 146           6.3          2.5           5.0          1.9   virginica
 93            5.0          2.3           3.3          1.0  versicolor
 86            6.7          3.1           4.7          1.5  versicolor
 68            6.2          2.2           4.5          1.5  versicolor
 65            6.7          3.1           4.4          1.4  versicolor)

In [53]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## 3. USING TELCO DATASET

In [54]:
df = acquire.get_telco_data()
df.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [55]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042
payment_type_id,2,2,1,1,2,4,3,4,1,2,...,2,3,2,2,3,2,1,2,2,1
internet_service_type_id,1,1,2,2,2,1,2,2,1,1,...,3,2,2,2,3,1,2,1,1,1
contract_type_id,2,1,1,1,1,1,3,3,1,3,...,1,2,2,1,1,2,1,1,3,3
customer_id,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ,0013-MHZWF,0013-SMEOE,0014-BMAQU,0015-UOCOJ,0016-QLJIS,...,9975-SKRNR,9978-HYCIN,9979-RGMZT,9985-MWVIX,9986-BONCE,9987-LUTYD,9992-RRAMN,9992-UJOEL,9993-LHIEB,9995-HOTOH
gender,Female,Male,Male,Male,Female,Female,Female,Male,Female,Female,...,Male,Male,Female,Female,Female,Female,Male,Male,Male,Male
senior_citizen,0,0,0,1,1,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
partner,Yes,No,No,Yes,Yes,No,Yes,Yes,No,Yes,...,No,Yes,No,No,No,No,Yes,No,Yes,Yes
dependents,Yes,No,No,No,No,Yes,No,No,No,Yes,...,No,Yes,No,No,No,No,No,No,Yes,Yes
tenure,9,9,4,13,3,9,71,63,7,65,...,1,47,7,1,4,13,22,2,67,63
phone_service,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No
multiple_lines,No,Yes,No,No,No,No,No,Yes,No,Yes,...,No,No,No,No,No,No,Yes,No,No,No phone service
online_security,No,No,No,No,No,No,Yes,Yes,Yes,Yes,...,No internet service,No,No,No,No internet service,Yes,No,No,Yes,Yes
online_backup,Yes,No,No,Yes,No,No,Yes,No,No,Yes,...,No internet service,Yes,Yes,No,No internet service,No,No,Yes,No,Yes
device_protection,No,No,Yes,Yes,No,No,Yes,No,No,Yes,...,No internet service,No,No,No,No internet service,No,No,No,Yes,Yes
tech_support,Yes,No,No,No,Yes,Yes,Yes,Yes,No,Yes,...,No internet service,No,No,No,No internet service,Yes,No,No,Yes,No
streaming_tv,Yes,No,No,Yes,Yes,Yes,Yes,No,No,Yes,...,No internet service,Yes,Yes,No,No internet service,No,No,No,No,Yes
streaming_movies,No,Yes,No,Yes,No,Yes,Yes,No,No,Yes,...,No internet service,No,Yes,No,No internet service,No,Yes,No,Yes,Yes
paperless_billing,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,Yes,Yes,Yes,No,No,Yes,Yes,No,No
monthly_charges,65.6,59.9,73.9,98.0,83.9,69.4,109.7,84.65,48.2,90.45,...,18.9,84.95,94.05,70.15,20.95,55.15,85.1,50.3,67.85,59.0
total_charges,593.3,542.4,280.85,1237.85,267.4,571.45,7904.25,5377.8,340.35,5957.9,...,18.9,4018.05,633.45,70.15,85.5,742.9,1873.7,92.75,4627.65,3707.6
churn,No,No,Yes,Yes,Yes,No,No,No,No,No,...,No,No,No,Yes,Yes,No,Yes,No,No,No
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Two year,Two year,Month-to-month,Two year,...,Month-to-month,One year,One year,Month-to-month,Month-to-month,One year,Month-to-month,Month-to-month,Two year,Two year
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic,DSL,Fiber optic,Fiber optic,DSL,DSL,...,None,Fiber optic,Fiber optic,Fiber optic,None,DSL,Fiber optic,DSL,DSL,DSL
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check,Credit card (automatic),Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check,...,Mailed check,Bank transfer (automatic),Mailed check,Mailed check,Bank transfer (automatic),Mailed check,Electronic check,Mailed check,Mailed check,Electronic check

##### dropped payment type id , internet service type id, contract type id because the actual info is listed below. kept online security, backup, device protection becuase people may pay extra for these functions. keeping tech support to see churn vs people who have dealt with tech support

In [56]:
catcols = [col for col in df.columns if df[col].dtype == "O"]
catcols

['customer_id',
 'gender',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'total_charges',
 'churn',
 'contract_type',
 'internet_service_type',
 'payment_type']

In [57]:
def split_telco_data(df):
    '''
    This function performs split on telco data, stratify churn.
    Returns train, validate, and test dfs.
    '''
    train_validate, test = train_test_split(df, test_size=.2, 
                                        random_state=123, 
                                        stratify=df.churn)
    train, validate = train_test_split(train_validate, test_size=.3, 
                                   random_state=123, 
                                   stratify=train_validate.churn)
    return train, validate, test

In [58]:
def prep_telco_data(df):
    #drop columns that aren't necessary 
    
    columns = ['customer_id', 'payment_type_id', 'internet_service_type_id' , 'contract_type_id']
    df.drop(columns, inplace = True, axis = 1)
    
    #fix total charges
    
    df['total_charges'] = df['total_charges'].str.strip()
    df = df[df.total_charges != '']
    df['total_charges'] = df.total_charges.astype(float)
    
    #get dummy variables
    dummy_df = pd.get_dummies(df[['gender', \
                                 'partner', \
                                 'dependents', \
                                 'phone_service', \
                                 'paperless_billing', \
                                 'churn', \
                                 'multiple_lines', \
                                 'online_security', \
                                 'device_protection', \
                                 'tech_support', \
                                 'streaming_tv', \
                                 'streaming_movies', \
                                 'contract_type', \
                                 'internet_service_type', \
                                 'payment_type']], dummy_na=False, \
                              drop_first=True)
    
    df = pd.concat([df, dummy_df], axis = 1)
    
    ## split the data
    train, validate, test = split_telco_data(df)
    
    return train, validate, test

In [59]:
prep_telco_data(df)

/var/folders/n9/2cn6jhrn6y18fntry1wgdn5m0000gp/T/ipykernel_7840/2046595704.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_charges'] = df.total_charges.astype(float)

(      gender  senior_citizen partner dependents  tenure phone_service  \
 5919  Female               0      No         No      58           Yes
 1915    Male               0      No        Yes      71           Yes
 5054  Female               0     Yes        Yes      35           Yes
 2355    Male               0     Yes        Yes       1           Yes
 6279    Male               1      No         No      20           Yes
 ...      ...             ...     ...        ...     ...           ...
 394   Female               0      No         No      24           Yes
 3763  Female               0     Yes        Yes      10           Yes
 3444  Female               0     Yes        Yes      22           Yes
 1002    Male               0      No        Yes      22           Yes
 4192    Male               0      No         No       2           Yes

      multiple_lines      online_security        online_backup  \
 5919            Yes                  Yes                  Yes
 1915            Yes                  Yes                  Yes
 5054            Yes  No internet service  No internet service
 2355             No  No internet service  No internet service
 6279             No                  Yes                   No
 ...             ...                  ...                  ...
 394             Yes                   No                   No
 3763            Yes                  Yes                   No
 3444            Yes  No internet service  No internet service
 1002            Yes                   No                  Yes
 4192             No  No internet service  No internet service

         device_protection  ... streaming_tv_Yes  \
 5919                  Yes  ...                0
 1915                   No  ...                0
 5054  No internet service  ...                0
 2355  No internet service  ...                0
 6279                   No  ...                0
 ...                   ...  ...              ...
 394                   Yes  ...                1
 3763                   No  ...                1
 3444  No internet service  ...                0
 1002                   No  ...                1
 4192  No internet service  ...                0

      streaming_movies_No internet service streaming_movies_Yes  \
 5919                                    0                    0
 1915                                    0                    0
 5054                                    1                    0
 2355                                    1                    0
 6279                                    0                    0
 ...                                   ...                  ...
 394                                     0                    0
 3763                                    0                    1
 3444                                    1                    0
 1002                                    0                    0
 4192                                    1                    0

      contract_type_One year  contract_type_Two year  \
 5919                      1                       0
 1915                      1                       0
 5054                      0                       0
 2355                      0                       0
 6279                      1                       0
 ...                     ...                     ...
 394                       0                       0
 3763                      0                       0
 3444                      0                       1
 1002                      0                       0
 4192                      0                       0

       internet_service_type_Fiber optic internet_service_type_None  \
 5919                                  0                          0
 1915                                  1                          0
 5054                                  0                          1
 2355                                  0                          1
 6279                                  0                          0
 ...                                 ...                        ...
 394                                   1                          0
 3763                                  1                          0
 3444                                  0                          1
 1002                                  1                          0
 4192                                  0                          1

      payment_type_Credit card (automatic) payment_type_Electronic check  \
 5919                                    1                             0
 1915                                    1                             0
 5054                                    0                             1
 2355                                    0                             0
 6279                                    0                             0
 ...                                   ...                           ...
 394                                     1                             0
 3763                                    0                             1
 3444                                    1                             0
 1002                                    1                             0
 4192                                    0                             0

      payment_type_Mailed check
 5919                         0
 1915                         0
 5054                         0
 2355                         1
 6279                         1
 ...                        ...
 394                          0
 3763                         0
 3444                         0
 1002                         0
 4192                         1

 [3937 rows x 45 columns],
       gender  senior_citizen partner dependents  tenure phone_service  \
 816   Female               0     Yes         No      27           Yes
 1488  Female               0     Yes         No      71           Yes
 4796    Male               0      No         No      44            No
 3213  Female               0     Yes        Yes      27           Yes
 5026    Male               0     Yes        Yes      62           Yes
 ...      ...             ...     ...        ...     ...           ...
 1234    Male               0     Yes        Yes      62           Yes
 1279    Male               0      No         No      48           Yes
 2281    Male               0     Yes        Yes      72           Yes
 2536    Male               0      No        Yes      17           Yes
 3718    Male               0      No         No       8           Yes

         multiple_lines      online_security        online_backup  \
 816                Yes                   No                   No
 1488               Yes                  Yes                  Yes
 4796  No phone service                  Yes                   No
 3213                No  No internet service  No internet service
 5026                No  No internet service  No internet service
 ...                ...                  ...                  ...
 1234               Yes                   No                   No
 1279               Yes                   No                  Yes
 2281               Yes                  Yes                  Yes
 2536                No                   No                  Yes
 3718               Yes                   No                   No

         device_protection  ... streaming_tv_Yes  \
 816                    No  ...                1
 1488                  Yes  ...                1
 4796                  Yes  ...                1
 3213  No internet service  ...                0
 5026  No internet service  ...                0
 ...                   ...  ...              ...
 1234                  Yes  ...                1
 1279                  Yes  ...                1
 2281                  Yes  ...                1
 2536                  Yes  ...                1
 3718                   No  ...                0

      streaming_movies_No internet service streaming_movies_Yes  \
 816                                     0                    1
 1488                                    0                    1
 4796                                    0                    1
 3213                                    1                    0
 5026                                    1                    0
 ...                                   ...                  ...
 1234                                    0                    0
 1279                                    0                    1
 2281                                    0                    1
 2536                                    0                    1
 3718                                    0                    1

      contract_type_One year  contract_type_Two year  \
 816                       0                       0
 1488                      0                       1
 4796                      1                       0
 3213                      0                       1
 5026                      0                       1
 ...                     ...                     ...
 1234                      0                       1
 1279                      1                       0
 2281                      0                       1
 2536                      1                       0
 3718                      0                       0

       internet_service_type_Fiber optic internet_service_type_None  \
 816                                   1                          0
 1488                                  0                          0
 4796                                  0                          0
 3213                                  0                          1
 5026                                  0                          1
 ...                                 ...                        ...
 1234                                  1                          0
 1279                                  1                          0
 2281                                  1                          0
 2536                                  0                          0
 3718                                  1                          0

      payment_type_Credit card (automatic) payment_type_Electronic check  \
 816                                     1                             0
 1488                                    1                             0
 4796                                    0                             1
 3213                                    0                             0
 5026                                    1                             0
 ...                                   ...                           ...
 1234                                    1                             0
 1279                                    1                             0
 2281                                    0                             0
 2536                                    0                             1
 3718                                    0                             1

      payment_type_Mailed check
 816                          0
 1488                         0
 4796                         0
 3213                         1
 5026                         0
 ...                        ...
 1234                         0
 1279                         0
 2281                         0
 2536                         0
 3718                         0

 [1688 rows x 45 columns],
       gender  senior_citizen partner dependents  tenure phone_service  \
 3311  Female               0      No         No      29           Yes
 6330    Male               0     Yes        Yes      36           Yes
 6156    Male               1      No         No       1           Yes
 5313    Male               0      No         No      25           Yes
 1176  Female               0     Yes         No      34           Yes
 ...      ...             ...     ...        ...     ...           ...
 600   Female               0      No         No      54           Yes
 3946    Male               0      No        Yes      10           Yes
 3230    Male               0      No         No      57            No
 349   Female               1      No         No      24           Yes
 3690    Male               0     Yes        Yes      35           Yes

         multiple_lines      online_security        online_backup  \
 3311                No  No internet service  No internet service
 6330               Yes  No internet service  No internet service
 6156                No                   No                   No
 5313                No                   No                   No
 1176                No                   No                   No
 ...                ...                  ...                  ...
 600                Yes                  Yes                   No
 3946               Yes  No internet service  No internet service
 3230  No phone service                   No                  Yes
 349                 No  No internet service  No internet service
 3690                No                   No                  Yes

         device_protection  ... streaming_tv_Yes  \
 3311  No internet service  ...                0
 6330  No internet service  ...                0
 6156                   No  ...                0
 5313                   No  ...                0
 1176                   No  ...                0
 ...                   ...  ...              ...
 600                   Yes  ...                1
 3946  No internet service  ...                0
 3230                   No  ...                1
 349   No internet service  ...                0
 3690                   No  ...                1

      streaming_movies_No internet service streaming_movies_Yes  \
 3311                                    1                    0
 6330                                    1                    0
 6156                                    0                    0
 5313                                    0                    0
 1176                                    0                    0
 ...                                   ...                  ...
 600                                     0                    1
 3946                                    1                    0
 3230                                    0                    0
 349                                     1                    0
 3690                                    0                    0

      contract_type_One year  contract_type_Two year  \
 3311                      1                       0
 6330                      0                       1
 6156                      0                       0
 5313                      0                       0
 1176                      0                       0
 ...                     ...                     ...
 600                       1                       0
 3946                      0                       0
 3230                      0                       0
 349                       0                       0
 3690                      1                       0

       internet_service_type_Fiber optic internet_service_type_None  \
 3311                                  0                          1
 6330                                  0                          1
 6156                                  0                          0
 5313                                  1                          0
 1176                                  0                          0
 ...                                 ...                        ...
 600                                   1                          0
 3946                                  0                          1
 3230                                  0                          0
 349                                   0                          1
 3690                                  1                          0

      payment_type_Credit card (automatic) payment_type_Electronic check  \
 3311                                    0                             0
 6330                                    1                             0
 6156                                    0                             1
 5313                                    0                             1
 1176                                    0                             0
 ...                                   ...                           ...
 600                                     0                             0
 3946                                    1                             0
 3230                                    0                             1
 349                                     0                             0
 3690                                    0                             1

      payment_type_Mailed check
 3311                         1
 6330                         0
 6156                         0
 5313                         0
 1176                         0
 ...                        ...
 600                          0
 3946                         0
 3230                         0
 349                          1
 3690                         0

 [1407 rows x 45 columns])